.card {
    display: flex;
    flex-direction: column;
    max-width: 256px;
    height: 100%;
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: #F5F5DC;
}